/pdfs
invalid_rows.csv
.env
.xlsx
/output
/first_94
/pdf_folders
FolderStructure.txt
/unique_pdfs_all
/rough
*/split_pages
.vscode
/Justin
*.csv
*.xlsx
!payer_data_020725_test.xlsx
!BPG.xlsx
!PayerProcessor.xlsx